<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
    <ul>
      <li>
        <a href="/movies">Movies</a>
      </li>
      <li>
        <a href="/directors">Directors</a>
      </li>
      <li>
        <a href="/actors">Actors</a>
      </li>
      <li>
        <a href="/characters">Characters</a>
      </li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
